Index: etc/mtree/BSD.var.dist
===================================================================
--- etc/mtree/BSD.var.dist	(revision 312935)
+++ etc/mtree/BSD.var.dist	(working copy)
@@ -28,8 +28,6 @@
 /set gname=wheel
     backups
     ..
-    cache               mode=0755
-    ..
     crash
     ..
     cron
@@ -40,20 +38,10 @@
     db
         entropy         uname=operator gname=operator mode=0700
         ..
-        freebsd-update  mode=0700
-        ..
-        hyperv          mode=0700
-        ..
-        ipf             mode=0700
-        ..
         ntp             mode=0700
         ..
         pkg
         ..
-        ports
-        ..
-        portsnap
-        ..
         zfsd
             cases
             ..
@@ -61,42 +49,15 @@
     ..
     empty           mode=0555 flags=schg
     ..
-    games           gname=games mode=0775
-    ..
-    heimdal         mode=0700
-    ..
     log
     ..
-    mail            gname=mail mode=0775
-    ..
-    msgs            uname=daemon
-    ..
     preserve
     ..
     run
-        ppp             gname=network mode=0770
-        ..
-        wpa_supplicant
-        ..
     ..
-    rwho            gname=daemon mode=0775
-    ..
     spool
-        dma             uname=root gname=mail mode=0770
-        ..
         lock            uname=uucp gname=dialer mode=0775
         ..
-/set gname=daemon
-        lpd
-        ..
-        mqueue
-        ..
-        opielocks       mode=0700
-        ..
-        output
-            lpd
-            ..
-        ..
 /set gname=wheel
     ..
     tmp             mode=01777
@@ -103,10 +64,4 @@
         vi.recover      mode=01777
         ..
     ..
-    unbound         uname=unbound gname=unbound mode=0755 tags=package=unbound
-        conf.d          uname=unbound gname=unbound mode=0755 tags=package=unbound
-        ..
-    ..
-    yp
-    ..
 ..
